*{
    margin:0;
    padding:0;
    border: 0;
}
.navbar-nav{border: 0;

}
body{

    background-color: white !important;
}
.card-body{
    height: 6vw;

}

.contactme{
    text-align: center;
    margin: auto;}

.bigtext{background-color: #a7aeb0;


    width:100%;
    height: 15vh;
    text-align: -webkit-center;}


.card-deck{
    padding:5%;


}


.form-group{margin-top: 25px;

}
.form-control{margin-top: 10px}
.card-title{

    height: 100px;

    text-align: -webkit-center;

}

.center{ display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50%!important;
}
.Jumbotron{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%!important;
    width: 600px;
    margin-bottom: 45px;
    height: 200px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a7aeb0;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}